<% content_for :datacard  do %>
  <%= render "datacard" %>
<% end %>

<% content_for :main do %>
  <h2> Uspešno je kreiran nalog broj : <%= @response["transactionId"] %></h2> 
<% end %>

<% if @err %>
  <% content_for :error do %>
    <%= render "error" %>
  <%end%>
<%end%>
