<% content_for :datacard  do %>
  <%= render "datacard" %>
<% end %>

<% content_for :main do %>
<table class="table-striped">
<% @response.keys.each do |key| %>
<tr>
  <td><%= key%></td>
  <td><%= @response[key] %> </td>
 </tr>
<% end %>
 </table>
<% end %>

<% if @err %>
  <% content_for :error do %>
    <%= render "error" %>
  <%end%>
<%end%>
