<% content_for :main  do %>
  <%= render "datacard" %>

  <h3> Kartice na beornu </h3>
  <ul class="list-group">
    <li class="list-group-item">4044040000000014</li>
  </ul>


<% end %>


<% if @err %>
  <% content_for :error do %>
    <%= render "error" %>
  <%end%>
<%end%>
  
